html {
     height: 100%;
     padding: 0;
     margin: 0;

     background: rgb(255,255,255);
     background-image: -webkit-gradient(linear, left top, left bottom,
                                        color-stop(0, rgb(200,230,230)),
                                        color-stop(1, rgb(255,255,255)));

     background-image: -moz-linear-gradient(center bottom,
                                            rgb(230,230,230) 0%,
                                            rgb(255,255,255) 100%);

}
body {
     margin: 50px;
     padding: 0;
     height: 100%;
}