html {
  height: 100%;
  padding: 0;
  margin: 0;
  background: white;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c8e6e6), color-stop(1, white));
  background-image: -moz-linear-gradient(center top, #c8e6e6 0%, white 100%);
  overflow: hidden;
  cursor: none; }

body {
  cursor: none;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; }

canvas {
  cursor: none;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  position: absolute; }
